In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action = 'ignore')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/kaggle_datasets/movies.csv')
df.head()

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Dark Knight,12A,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro...","25,98,173",$534.86M
2,https://m.media-amazon.com/images/S/sash/4Fyxw...,Inception,12A,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,Christopher Nolan,"('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...","23,04,062",$292.58M
3,https://m.media-amazon.com/images/S/sash/4Fyxw...,Fight Club,18,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,David Fincher,"('Brad Pitt',), ('Edward Norton',), ('Meat Loa...","20,71,088",$37.03M
4,https://m.media-amazon.com/images/S/sash/4Fyxw...,Pulp Fiction,18,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"('John Travolta',), ('Uma Thurman',), ('Samuel...","20,11,013",$107.93M

In [ ]:
df['poster'][0]

'https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png'

# Extracting Only Useful Columns to new_df

In [ ]:
new_df = df[['title', 'certificate', 'genre', 'about', 'director', 'stars']]
new_df.head()

,title,certificate,genre,about,director,stars
0,The Shawshank Redemption,15,Drama,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G..."
1,The Dark Knight,12A,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro..."
2,Inception,12A,"Action, Adventure, Sci-Fi",A thief who steals corporate secrets through t...,Christopher Nolan,"('Leonardo DiCaprio',), ('Joseph Gordon-Levitt..."
3,Fight Club,18,Drama,An insomniac office worker and a devil-may-car...,David Fincher,"('Brad Pitt',), ('Edward Norton',), ('Meat Loa..."
4,Pulp Fiction,18,"Crime, Drama","The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"('John Travolta',), ('Uma Thurman',), ('Samuel..."

> These columns are enough for use to create a content based recommender system for our website

In [ ]:
new_df.isna().sum()

title           0
certificate     0
genre          30
about          14
director        0
stars           0
dtype: int64

In [ ]:
new_df = new_df.dropna().reset_index(drop = True)

# Preprocessing

**Steps**

> We will use genre, about, director, stars in single column as tags.

> Remove Stop words

> convert tags into Vectors.

> we will use this function to stem words in about

In [ ]:
new_df.head()

,title,certificate,genre,about,director,stars
0,The Shawshank Redemption,15,Drama,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G..."
1,The Dark Knight,12A,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro..."
2,Inception,12A,"Action, Adventure, Sci-Fi",A thief who steals corporate secrets through t...,Christopher Nolan,"('Leonardo DiCaprio',), ('Joseph Gordon-Levitt..."
3,Fight Club,18,Drama,An insomniac office worker and a devil-may-car...,David Fincher,"('Brad Pitt',), ('Edward Norton',), ('Meat Loa..."
4,Pulp Fiction,18,"Crime, Drama","The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"('John Travolta',), ('Uma Thurman',), ('Samuel..."

#### Lets Extract stars names

In [ ]:
import re

In [ ]:
new_df['stars']  = new_df['stars'].apply(lambda x : re.sub(r"[()']", '', x))

In [ ]:
new_df.head()

,title,certificate,genre,about,director,stars
0,The Shawshank Redemption,15,Drama,Two imprisoned men bond over a number of years...,Frank Darabont,"Tim Robbins,, Morgan Freeman,, Bob Gunton,, Wi..."
1,The Dark Knight,12A,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale,, Heath Ledger,, Aaron Eckhart,..."
2,Inception,12A,"Action, Adventure, Sci-Fi",A thief who steals corporate secrets through t...,Christopher Nolan,"Leonardo DiCaprio,, Joseph Gordon-Levitt,, Ell..."
3,Fight Club,18,Drama,An insomniac office worker and a devil-may-car...,David Fincher,"Brad Pitt,, Edward Norton,, Meat Loaf,, Zach G..."
4,Pulp Fiction,18,"Crime, Drama","The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"John Travolta,, Uma Thurman,, Samuel L. Jackso..."

#### Removing Spaces between director and stars names to keep them unique

In [ ]:
new_df['director'] = new_df['director'].str.replace(' ', '')

In [ ]:
new_df['stars'] = new_df['stars'].str.replace(' ', '')

In [ ]:
new_df.head()

,title,certificate,genre,about,director,stars
0,The Shawshank Redemption,15,Drama,Two imprisoned men bond over a number of years...,FrankDarabont,"TimRobbins,,MorganFreeman,,BobGunton,,WilliamS..."
1,The Dark Knight,12A,"Action, Crime, Drama",When the menace known as the Joker wreaks havo...,ChristopherNolan,"ChristianBale,,HeathLedger,,AaronEckhart,,Mich..."
2,Inception,12A,"Action, Adventure, Sci-Fi",A thief who steals corporate secrets through t...,ChristopherNolan,"LeonardoDiCaprio,,JosephGordon-Levitt,,ElliotP..."
3,Fight Club,18,Drama,An insomniac office worker and a devil-may-car...,DavidFincher,"BradPitt,,EdwardNorton,,MeatLoaf,,ZachGrenier,"
4,Pulp Fiction,18,"Crime, Drama","The lives of two mob hitmen, a boxer, a gangst...",QuentinTarantino,"JohnTravolta,,UmaThurman,,SamuelL.Jackson,,Bru..."

# Concatenating all the columns except title into 1 column as tags

In [ ]:
new_df['genre'] = new_df['genre'].apply(lambda x : x.split())
new_df['certificate'] = new_df['certificate'].apply(lambda x : x.split())
new_df['about'] = new_df['about'].apply(lambda x : x.split())
new_df['director'] = new_df['director'].apply(lambda x : x.split())
new_df['stars'] = new_df['stars'].apply(lambda x : x.split())

In [ ]:
new_df.head(2)

,title,certificate,genre,about,director,stars
0,The Shawshank Redemption,[15],[Drama],"[Two, imprisoned, men, bond, over, a, number, ...",[FrankDarabont],"[TimRobbins,,MorganFreeman,,BobGunton,,William..."
1,The Dark Knight,[12A],"[Action,, Crime,, Drama]","[When, the, menace, known, as, the, Joker, wre...",[ChristopherNolan],"[ChristianBale,,HeathLedger,,AaronEckhart,,Mic..."

In [ ]:
new_df['Tags'] = new_df['certificate'] + new_df['genre'] + new_df['about'] + new_df['director'] + new_df['stars']

In [ ]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [ ]:
def stem(text):
  y = []
  for i in text.split():
    y.append(ps.stem(i))
  return ' '.join(y)

In [ ]:
new_df.head()

,title,certificate,genre,about,director,stars,Tags
0,The Shawshank Redemption,[15],[Drama],"[Two, imprisoned, men, bond, over, a, number, ...",[FrankDarabont],"[TimRobbins,,MorganFreeman,,BobGunton,,William...","[15, Drama, Two, imprisoned, men, bond, over, ..."
1,The Dark Knight,[12A],"[Action,, Crime,, Drama]","[When, the, menace, known, as, the, Joker, wre...",[ChristopherNolan],"[ChristianBale,,HeathLedger,,AaronEckhart,,Mic...","[12A, Action,, Crime,, Drama, When, the, menac..."
2,Inception,[12A],"[Action,, Adventure,, Sci-Fi]","[A, thief, who, steals, corporate, secrets, th...",[ChristopherNolan],"[LeonardoDiCaprio,,JosephGordon-Levitt,,Elliot...","[12A, Action,, Adventure,, Sci-Fi, A, thief, w..."
3,Fight Club,[18],[Drama],"[An, insomniac, office, worker, and, a, devil-...",[DavidFincher],"[BradPitt,,EdwardNorton,,MeatLoaf,,ZachGrenier,]","[18, Drama, An, insomniac, office, worker, and..."
4,Pulp Fiction,[18],"[Crime,, Drama]","[The, lives, of, two, mob, hitmen,, a, boxer,,...",[QuentinTarantino],"[JohnTravolta,,UmaThurman,,SamuelL.Jackson,,Br...","[18, Crime,, Drama, The, lives, of, two, mob, ..."

In [ ]:
final_df = new_df[['title', 'Tags']]

In [ ]:
final_df.head()

                      title                                               Tags
0  The Shawshank Redemption  [15, Drama, Two, imprisoned, men, bond, over, ...
1           The Dark Knight  [12A, Action,, Crime,, Drama, When, the, menac...
2                 Inception  [12A, Action,, Adventure,, Sci-Fi, A, thief, w...
3                Fight Club  [18, Drama, An, insomniac, office, worker, and...
4              Pulp Fiction  [18, Crime,, Drama, The, lives, of, two, mob, ...

In [ ]:
final_df['Tags'] = final_df['Tags'].apply(lambda x : ' '.join(x))

In [ ]:
final_df.head()

                      title                                               Tags
0  The Shawshank Redemption  15 Drama Two imprisoned men bond over a number...
1           The Dark Knight  12A Action, Crime, Drama When the menace known...
2                 Inception  12A Action, Adventure, Sci-Fi A thief who stea...
3                Fight Club  18 Drama An insomniac office worker and a devi...
4              Pulp Fiction  18 Crime, Drama The lives of two mob hitmen, a...

In [ ]:
final_df['Tags'] = final_df['Tags'].apply(stem)

#### Converting to lowercase

In [ ]:
final_df['Tags'] = final_df['Tags'].apply(lambda x : x.lower())

# Converting Tags into vectors and removing stop Words

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 10000, stop_words = 'english')

In [ ]:
vectors = cv.fit_transform(final_df['Tags']).toarray() # it will convert sparse matrix to numpy array

In [ ]:
cv.get_feature_names()

['00',
 '000',
 '007',
 '10',
 '100',
 '11',
 '11th',
 '12',
 '12a',
 '13',
 '14',
 '14th',
 '15',
 '150',
 '16',
 '16th',
 '17',
 '17th',
 '18',
 '1820',
 '1830',
 '1860s',
 '1880',
 '1885',
 '1890',
 '18th',
 '19',
 '1900',
 '1900s',
 '1910',
 '1920',
 '1921',
 '1924',
 '1925',
 '1930',
 '1930s',
 '1931',
 '1935',
 '1937',
 '1939',
 '1940',
 '1940s',
 '1941',
 '1944',
 '1945',
 '1947',
 '1948',
 '1949',
 '1950',
 '1950s',
 '1951',
 '1954',
 '1955',
 '1956',
 '1960',
 '1960s',
 '1962',
 '1963',
 '1964',
 '1965',
 '1967',
 '1968',
 '1969',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1978',
 '1979',
 '1980',
 '1980s',
 '1981',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1990',
 '1992',
 '1993',
 '1996',
 '1997',
 '1999',
 '19th',
 '1st',
 '20',
 '200',
 '2001',
 '2002',
 '2005',
 '2008',
 '2018',
 '2029',
 '20th',
 '21',
 '21st',
 '22',
 '24',
 '25',
 '25th',
 '26',
 '27',
 '28',
 '30',
 '300',
 '35',
 '40',
 '50',
 '500',
 '50cent',
 '60',
 '60s',
 '70',
 '90',
 '9000',
 'aa',
 'aaliyah',
 'aamirkhan',
 'aanandl',
 'aaron',
 'aaronabrams',
 'aaronburns',
 'aaroneckhart',
 'aaronpaul',
 'aaronseltzer',
 'aarontaylor',
 'aaronyoo',
 'aasifmandvi',
 'abandon',
 'abbiecornish',
 'abduct',
 'abducted',
 'abductor',
 'abelferrara',
 'abhaydeol',
 'abhishekbachchan',
 'abigailbreslin',
 'abil',
 'abl',
 'aboard',
 'aborigin',
 'abort',
 'abov',
 'abram',
 'abroad',
 'abruptli',
 'absenc',
 'absent',
 'absolut',
 'absorb',
 'abus',
 'abuse',
 'academ',
 'academi',
 'academy',
 'accept',
 'accepts',
 'access',
 'accid',
 'accident',
 'acclaim',
 'acclim',
 'accompani',
 'accomplic',
 'accomplish',
 'accord',
 'account',
 'accumul',
 'accus',
 'accused',
 'ace',
 'achiev',
 'acquaint',
 'acquir',
 'acrobat',
 'act',
 'action',
 'actions',
 'activ',
 'activist',
 'activities',
 'activity',
 'actor',
 'actress',
 'actual',
 'ad',
 'adam',
 'adambeach',
 'adambrody',
 'adamdriver',
 'adamgarcia',
 'adamgoldberg',
 'adamgreen',
 'adammckay',
 'adamsandler',
 'adamscott',
 'adamsevani',
 'adamshankman',
 'adamtrese',
 'adamwingard',
 'adapt',
 'addict',
 'addiction',
 'addl',
 'address',
 'adept',
 'adewaleakinnuoye',
 'adilhussain',
 'adityachopra',
 'adityaroykapoor',
 'adjust',
 'administr',
 'admir',
 'admiss',
 'admit',
 'adolesc',
 'adopt',
 'adoption',
 'adriangrenier',
 'adrianlyn',
 'adrienbrody',
 'adriennebarbeau',
 'adrienneking',
 'adult',
 'adulter',
 'adulthood',
 'advanc',
 'advantag',
 'advantage',
 'adventur',
 'adventure',
 'adventures',
 'advertis',
 'advic',
 'advis',
 'advisor',
 'advoc',
 'affabl',
 'affair',
 'affairs',
 'affect',
 'afflict',
 'affluent',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'aft',
 'afterlif',
 'aftermath',
 'ag',
 'agbaje',
 'age',
 'aged',
 'ageless',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'aggress',
 'aging',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidangillen',
 'aidanquinn',
 'ail',
 'aim',
 'aimless',
 'air',
 'airlin',
 'airliner',
 'airport',
 'aishwaryaraibachchan',
 'aitanasánchez',
 'akimaeda',
 'akioôtsuka',
 'akira',
 'akirakurosawa',
 'akiraterao',
 'akivaschaff',
 'akselhennie',
 'akshaykumar',
 'al',
 'alabama',
 'alain',
 'alainchabat',
 'alaindelon',
 'alan',
 'alanalda',
 'alanarkin',
 'alancumming',
 'alanj',
 'alanladd',
 'alanmett',
 'alanpark',
 'alanrickman',
 'alantaylor',
 'alantudyk',
 'alanyoung',
 'alaska',
 'alaskan',
 'albert',
 'albertbrooks',
 'albertfinney',
 'alberthugh',
 'alcatraz',
 'alcohol',
 'alcoholism',
 'aldenehrenreich',
 'alec',
 'alecbaldwin',
 'alecguinness',
 'alejandroamenábar',
 'alejandrog',
 'alejandrojodorowski',
 'alejandrojodorowsky',
 'alert',
 'alessandronivola',
 'alex',
 'alexander',
 'alexandermackendrick',
 'alexanderpayn',
 'alexanderskarsgård',
 'alexandradaddario',
 'alexandramarialara',
 'alexandreaja',
 'alexapenavega',
 'alexcox',
 'alexd',
 'alexetel',
 'alexfrost',
 'alexia',
 'alexisbledel',
 'alexpettyfer',
 'alexproya',
 'alexvincent',
 'alexwinter',
 'alfonsoarau',
 'alfonsocuarón',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'algeria',
 'ali',
 'aliashawkat',
 'alibi',
 'alic',
 'alicebraga',
 'aliceeve',
 'aliciasilverstone',
 'aliciavikander',
 'aliciawitt',
 'alidavalli',
 'alien',
 'aliens',
 'alilarter',
 'alimacgraw',
 'alisonbrie',
 'alisonlohman',
 'alisonpill',
 'alitanerbaltaci',
 'aliv',
 'alive',
 'allanmoyl',
 'alleg',
 'allegedli',
 'allen',
 'allencoult',
 'allencovert',
 'allenhughes',
 'allenpayne',
 'alli',
 'allianc',
 'allies',
 'allisonjanney',
 'allisontolman',
 'allow',
 'allur',
 'ally',
 'allysheedy',
 'allywalker',
 'alma',
 'alon',
 'alongsid',
 'alp',
 'alpacino',
 'alreadi',
 'alt',
 'altanerkekli',
 'altar',
 'alter',
 'altern',
 'alumni',
 'alway',
 'alysonhannigan',
 'alzheimer',
 'aman',
 'amanda',
 'amandabynes',
 'amandacrew',
 'amandapeet',
 'amandaplummer',
 'amandaseyfried',
 'amateur',
 'amaz',
 'amazon',
 'ambassador',
 'amberheard',
 'ambertamblyn',
 'ambervalletta',
 'ambigu',
 'ambit',
 'ambiti',
 'ambush',
 'ame',
 'america',
 'americaferrera',
 'american',
 'amid',
 'amidst',
 'amir',
 'amish',
 'amitabhbachchan',
 'amnesia',
 'amrishpuri',
 'amrwaked',
 'amsterdam',
 'amus',
 'amyadams',
 'amybrenneman',
 'amyheckerl',
 'amyirving',
 'amypoehler',
 'amyryan',
 'amysmart',
 'anakin',
 'analyst',
 'anandtuck',
 'anatolian',
 'anatoliysolonitsyn',
 'ancestor',
 'ancestr',
 'anchor',
 'ancient',
 'anderson',
 'andi',
 'andiemacdowell',
 'andreariseborough',
 'andrebraugher',
 'andreitarkovski',
 'andrew',
 'andrewadamson',
 'andrewbergman',
 'andrewdavi',
 'andrewdominik',
 'andrewflem',
 'andrewgarfield',
 'andrewhaigh',
 'andrewmccarthy',
 'andrewniccol',
 'andrewrobinson',
 'andrewscott',
 'andrewstanton',
 'andreykonchalovskiy',
 'andreyzvyagintsev',
 'android',
 'andrzejbartkowiak',
 'andré3000',
 'andrédussollier',
 'andréramiro',
 'andy',
 'andyfickman',
 'andygarcia',
 'andylau',
 'andyrichter',
 'andysamberg',
 'andyserkis',
 'andytenn',
 'angel',
 'angela',
 'angelabassett',
 'angelalansbury',
 'angeles',
 'angelinajoli',
 'angelinajolie',
 'anger',
 'angiedickinson',
 'angl',
 'angle',
 'angri',
 'anguish',
 'angusmacfadyen',
 'ani',
 'anikanonirose',
 'anim',
 'animals',
 'animation',
 'anjali',
 'anjelicahuston',
 'ann',
 'anna',
 'annabellasciorra',
 'annabethgish',
 'annachlumsky',
 'annafaris',
 'annafriel',
 'annakarina',
 'annakendrick',
 'annamassey',
 'annapaquin',
 'annasophiarobb',
 'anne',
 'annearcher',
 'annebancroft',
 'annebaxter',
 'annedorval',
 'annefletch',
 'annefontain',
 'annehathaway',
 'anneheche',
 'annemoss',
 'annettebening',
 'anni',
 'anniegirardot',
 'anniversari',
 'announc',
 'annoy',
 'annreinking',
 'annual',
 'anonym',
 'anoth',
 'anoukaimée',
 'anselelgort',
 'ansonmount',
 'answer',
 'answers',
 'ant',
 'antarctica',
 'antholog',
 'anthonyanderson',
 'anthonybarrile',
 'anthonyedwards',
 'anthonyhopkins',
 'anthonylapaglia',
 'anthonymackie',
 'anthonymichaelhall',
 'anthonyminghella',
 'anthonyperkins',
 'anthonyquayle',
 'anthonyquinn',
 'anthonyrapp',
 'anthonyrusso',
 'anthonystacchi',
 'anthropologist',
 'anthropomorph',
 'anti',
 'antichrist',
 'anticipated',
 'antiqu',
 'antoinefuqua',
 'antoncorbijn',
 'antoniobanderas',
 'antonyelchin',
 'anupamkher',
 'anuragkashyap',
 'anushkasharma',
 'anxieti',
 'anxiou',
 'anyon',
 'anyth',
 'apart',
 'apartment',
 'ape',
 'apocalypse',
 'apocalypt',
 'apollo',
 'appar',
 'appeal',
 'appear',
 'appears',
 'appli',
 'appoint',
 'apprehend',
 'apprentic',
 'apprentice',
 'approach',
 'approaches',
 'approaching',
 'april',
 'aquarium',
 'aquila',
 'arab',
 'arc',
 'arcad',
 'arch',
 'archaeolog',
 'archaeologist',
 'archangel',
 'archenemy',
 'archiepanjabi',
 'architect',
 'arduou',
 'area',
 'aren',
 'argu',
 'ariellekebbel',
 'arielschulman',
 'arigraynor',
 'aris',
 'arise',
 'aristocrat',
 'arizona',
 'arjunrampal',
 'ark',
 'arm',
 'armada',
 'armandassante',
 'armi',
 'armiehammer',
 'arminmueller',
 'armor',
 'army',
 'arnoldschwarzenegger',
 'arnoldvosloo',
 'arrang',
 'arrest',
 'arriv',
 'arrival',
 'arrives',
 'arrog',
 'arsen',
 'arshadwarsi',
 'arsonist',
 'art',
 'artagnan',
 'artefact',
 'arthur',
 'arthurhil',
 'arthurpenn',
 'arti',
 'articl',
 'artifact',
 'artifacts',
 'artifici',
 'artist',
 'arts',
 'artstevens',
 'artwork',
 'asabutterfield',
 'ascend',
 'asgharfarhadi',
 'ash',
 'ashbrannon',
 'ashleygreene',
 'ashleyjudd',
 'ashleylaurence',
 'ashleyscott',
 'ashleytisdale',
 'ashlynnyennie',
 'ashtonkutcher',
 'ashutoshgowarik',
 'asiaargento',
 'asid',
 'ask',
 'aspect',
 'asperger',
 'aspir',
 'ass',
 'assail',
 'assailants',
 'assassin',
 'assassination',
 'assassins',
 'assault',
 'assembl',
 'assert',
 'asset',
 'assign',
 'assignment',
 'assist',
 'assistant',
 'associ',
 'associates',
 'association',
 'assort',
 'assum',
 'asteroid',
 'astronaut',
 'astronauts',
 'astérix',
 'asylum',
 'athen',
 'athlet',
 'athlete',
 'atlanta',
 'atomegoyan',
 'atsukotanaka',
 'attack',
 'attempt',
 'attend',
 'attent',
 'attention',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'aubreyplaza',
 'auction',
 'audienc',
 'audreyhepburn',
 'audreytautou',
 'august',
 'aunjanueellis',
 'aunt',
 'austen',
 'austin',
 'australia',
 'australian',
 'austria',
 'austrian',
 'author',
 'authorities',
 'autist',
 'auto',
 'autobiograph',
 'autobiographi',
 'autobot',
 'automobil',
 'autonom',
 'avail',
 'aveng',
 'averag',
 'avery',
 'averybrooks',
 'aviator',
 'avildsen',
 'avoid',
 'await',
 'awaken',
 'awar',
 'award',
 'away',
 'awkward',
 'awri',
 'awry',
 'axel',
 'ayanmukherje',
 'babe',
 'babi',
 'baby',
 'babysit',
 'babysitt',
 'bachelor',
 'backdrop',
 'backer',
 'background',
 'backpack',
 'backs',
 'backward',
 'backwood',
 'bad',
 'badli',
 'badly',
 'baedoona',
 'bag',
 'baggin',
 'bagheera',
 'bail',
 'bailey',
 'bailing',
 'baker',
 'balanc',
 'balboa',
 'ball',
 'ballet',
 'baloo',
 'baltasarkormákur',
 'balthazargetty',
 'baltimor',
 'baltimore',
 'bamboo',
 'ban',
 'band',
 'bandit',
 'bandits',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankrupt',
 'banned',
 'banner',
 'baptisteandrea',
 'bar',
 'barbarahershey',
 'barbarian',
 'barber',
 'barbetschroed',
 'barbossa',
 'barbrastreisand',
 'barcelona',
 'barden',
 'bare',
 'bargain',
 'barkhadabdi',
 'barnardhughes',
 'barney',
 'barnhardt',
 'baron',
 'barrel',
 'barri',
 'barrier',
 'barrist',
 'barry',
 'barrycook',
 'barrylevinson',
 'barrymiller',
 'barrypepper',
 'barrysonnenfeld',
 'bars',
 'bartend',
 'bas',
 'base',
 'basebal',
 'baseball',
 'basement',
 'basketbal',
 'bassett',
 'bate',
 'batman',
 'battl',
 'battle',
 'battlefield',
 'battleship',
 'bay',
 'bayona',
 'bazluhrmann',
 'bb',
 'bdwong',
 'beach',
 'beak',
 'bean',
 'bear',
 'beast',
 'beat',
 'beaten',
 'beatric',
 'beau',
 'beaubridges',
 'beauti',
 'beautiful',
 'beauty',
 'bebeneuwirth',
 'bebop',
 'becam',
 'becaus',
 'becom',
 'bed',
 'bedroom',
 'bedtim',
 'bee',
 'beebankidron',
 'beer',
 'beerus',
 'beethoven',
 'befal',
 'befor',
 'befriend',
 'began',
 'begin',
 'begins',
 'behavior',
 'belgium',
 'belief',
 'believ',
 'believe',
 'bell',
 'bella',
 'belong',
 'belov',
 'belénrueda',
 'ben',
 'benaffleck',
 'benbarnes',
 'benchaplin',
 'bencross',
 'bend',
 'beneath',
 'benedictcumberbatch',
 'benefactor',
 'benefit',
 'benefits',
 'benfoster',
 'bengazzara',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benjaminsalisbury',
 'benjohnson',
 'benkingsley',
 'benmendelsohn',
 'bennet',
 'bennett',
 'bennettmil',
 'bennychan',
 'bennyhill',
 'benoîtmagimel',
 'benoîtpoelvoorde',
 'benpalm',
 'benstil',
 'benstiller',
 'bent',
 'benwheatley',
 'benwhishaw',
 'benyoung',
 'berlin',
 'bernard',
 'bernardfarcy',
 'bernardobertolucci',
 'bernardros',
 'berniemac',
 'beset',
 'besid',
 'best',
 'bet',
 'beth',
 'betray',
 'betrayal',
 'betroth',
 'betsypalmer',
 'betsyrussell',
 'bettedavis',
 'bettemidler',
 'better',
 'bettythoma',
 'beverli',
 'beverlydangelo',
 'beyoncé',
 'bi',
 'bibiandersson',
 'biblic',
 'bibobergeron',
 'bid',
 'big',
 'bigfoot',
 'bigger',
 'biggest',
 'bijouphillips',
 'bike',
 'biker',
 'bilbo',
 'bilko',
 'billcondon',
 'billduke',
 'billeaugust',
 'billhader',
 'billhunter',
 'billi',
 'billionair',
 'billmckinney',
 'billmoseley',
 'billmurray',
 'billnighy',
 'billpaxton',
 'billpullman',
 'billroberts',
 'billy',
 'billybobthornton',
 'billyboyd',
 'billyburke',
 'billycampbell',
 'billyconnolly',
 'billycrudup',
 'billycrystal',
 'billydeewilliams',
 'billygreenbush',
 'billyray',
 'billyraycyrus',
 'billywild',
 'billyzane',
 'bio',
 'biograph',
 'biographi',
 'biography',
 'biolog',
 'biologist',
 'biopic',
 'biotech',
 'bird',
 'birth',
 'birthday',
 'bishop',
 'bison',
 ...]

# Recommendation using Cosine Similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vectors)

# Making Recommendation Function

In [ ]:
final_df.iloc[2].title

'Inception'

In [ ]:
def get_recomm(movie):
  movie_index  = final_df[final_df['title'] == movie].index[0]
  recom = sorted(list(enumerate(similarity[movie_index])), reverse = True, key = lambda x : x[1])[1 : 6]
  for i in recom:
    print(final_df.iloc[i[0]].title)

# Lets Get Movies Recommendation

In [ ]:
get_recomm('X-Men')

X-Men: Apocalypse
X-Men: Days of Future Past
X-Men 2
X-Men: The Last Stand
Starship Troopers 3: Marauder

# Saving the model

In [ ]:
import pickle
pickle.dump(final_df.to_dict(), open('IMDB2.pkl', 'wb'))

In [ ]:
final_df.title.values

array(['The Shawshank Redemption', 'The Dark Knight', 'Inception', ...,
       'Playing It Cool', 'Hairspray', 'McCabe & Mrs. Miller'],
      dtype=object)

In [ ]:
pickle.dump(similarity, open('Similarity.pkl', 'wb'))